#main {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}

canvas {
  width: 640px;
  height: 480px;

  position: absolute;
  top: 0px;

  border: 3px solid black;
  background: transparent;
}

#background {
  z-index: -1;
}

#lander {
  z-index: 0;
}

#instructions {
  position: absolute;
  top: 500px;

  width: 640px;

  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
}

p {
  line-height: 5px;
}
